# https://nowplaying.tinyrobot.co
SPOTIFY_NOW_PLAYING_KEY=

# https://openweathermap.org/api
WEATHER_KEY=

# https://console.cloud.google.com/apis/credentials
YOUTUBE_KEY=

# https://developers.giphy.com/dashboard/
GIPHY_KEY=